@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Regular.woff2') format('woff2'),
         url('../fonts/rubik/Rubik-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Bold.woff2') format('woff2'),
         url('../fonts/rubik/Rubik-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-BoldItalic.woff2') format('woff2'),
         url('../fonts/rubik/Rubik-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Rubik';
    src: url('../fonts/rubik/Rubik-Italic.woff2') format('woff2'),
         url('../fonts/rubik/Rubik-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Exo2';
    src: url('../fonts/exo2/Exo2-Regular.woff2') format('woff2'),
         url('../fonts/exo2/Exo2-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('../fonts/exo2/Exo2-Bold.woff2') format('woff2'),
         url('../fonts/exo2/Exo2-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'Exo2';
    src: url('../fonts/exo2/Exo2-BoldItalic.woff2') format('woff2'),
         url('../fonts/exo2/Exo2-BoldItalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: 'Exo2';
    src: url('../fonts/exo2/Exo2-Italic.woff2') format('woff2'),
         url('../fonts/exo2/Exo2-Italic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}