header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--navbar-background-color);
    backdrop-filter: blur(5px);
    z-index: 1000;
    height: 70px;
}

main {
    padding-top: 70px;
}


footer {
    min-height: 50px;
    background-color: var(--navbar-background-color);
}


.index-features-container {
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 3%;
}

.faq-item {
    border-bottom: 1px solid #e0e0e0;
}

/* 1. Den <summary> (Klickbereich) gestalten */
.faq-item summary {
    display: block; /* Macht den ganzen Bereich klickbar */
    position: relative;
    padding: 1.5rem 2.5rem 1.5rem 1rem; /* Platz für das Icon rechts */
    font-weight: 600;
    cursor: pointer;

    /* Standard-Pfeil (Marker) in allen Browsern ausblenden */
    list-style: none; /* Firefox */
}
.faq-item summary::-webkit-details-marker {
    display: none; /* Chrome/Safari */
}


/* 2. Eigenes Icon (das '+') hinzufügen */
.faq-item summary::after {
    content: '+';
    position: absolute;
    right: 1rem;
    top: 1.5rem;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1;

    /* Sanfter Übergang für die Rotation */
    transition: transform 0.3s ease-out;
}

/* 3. Icon drehen, wenn [open] */
.faq-item[open] summary::after {
    /* Dreht das '+' um 45 Grad, um ein 'x' zu werden */
    transform: rotate(45deg);
}


/* 4. Der Animations-Wrapper (max-height Trick) */
.faq-animator {
    max-height: 0;
    overflow: hidden;

    /* Die eigentliche Slide-Animation */
    transition: max-height 0s ease-out;
}

/* 5. Der Inhalts-Wrapper (für das Padding) */
.faq-content {
    padding: 0 1rem 1.5rem 1rem;
}


/* 6. Wenn [open], die max-height setzen */
.faq-item[open] .faq-animator {
    /* Muss größer sein als der höchste Inhalt! */
    max-height: 600px;
    transition: max-height 2.3s ease-in;
}

.feature-box {
    flex: 1 1 22%;  /* 22% Breite (4 Boxen = 88% + gaps) */
    min-width: 250px;
    background: #28282E;
    border-radius: 10px;
    padding: 4%;
    text-align: left;
    transition: all 0.4s ease;
    position: relative;
    overflow: hidden;
    margin-bottom: 2%;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.feature-header {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 1.25rem;
}

.feature-icon {
    width: 50px;
    height: 50px;
    flex-shrink: 0;
}

.img-logo-nav {
    width: auto;
    max-width: 150px;
    height: auto;
    margin-right: 5%;
}

.background-index {
    padding-top: 0
}

.img-background-index {
    background: linear-gradient(rgba(39,39,39,0.6), rgba(39,39,39,0.6)),
    url(../img/DHBW-Background-Red.png)
    center / cover no-repeat;
    min-height: 100vh;
    padding-top: 70px;
}

.img-background-login {
    background:
    linear-gradient(rgba(39,39,39,0.8), rgba(39,39,39,0.8)),
    url(../img/DHBW-Background-Red.png)
    center / cover no-repeat;
    min-height: 100vh;

    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    display: flex;
}

.login-box {
    background-color: var(--secondary-background-color);
    border-radius: 15px;
    padding: 20px;
    width: 500px;
    max-width: 50%;
    box-shadow: 0 0 30px rgba(0,0,0,0.6);
}

.img-logo-login {
    width: 220px;
    max-width: 150px;
    height: auto;
    margin-bottom: 25px;
}

.privacy-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
    margin-bottom: 5%;
    padding: 0 5%;
}

.privacy-box {
    flex: 1 1 40%;
    max-width: 45%;
    text-align: center;
    padding: 2%;
}

.privacy-box h2 {
    margin-bottom: 3%;
}

.privacy-box ul {
    text-align: left;
}

.privacy-box p {
    text-align: left;
}

.margin-bottom-7 {
    margin-bottom: 7%;
}

.margin-bottom-5 {
    margin-bottom: 5%;
}

.margin-bottom-3 {
    margin-bottom: 3%;
}

.margin-bottom-1 {
    margin-bottom: 1%;
}

.margin-left-1 {
    margin-left: 1%;
}

.margin-left-2 {
    margin-left: 2%;
}

.margin-left-3 {
    margin-left: 3%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-left-10 {
    margin-left: 10%;
}

.margin-left-12 {
    margin-left: 12%;
}

.margin-left-20 {
    margin-left: 20%;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-2 {
    margin-top: 2%;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-top-10 {
    margin-top: 10%;
}

.margin-top-20 {
    margin-top: 20%;
}

.margin-right-1 {
    margin-right: 1%;
}

.margin-right-3 {
    margin-right: 3%;
}

.margin-right-5 {
    margin-right: 5%;
}

.margin-right-10 {
    margin-right: 10%;
}
.nav-grid {
    display: grid;
    grid-template-columns: 2fr auto 2fr;
    align-items: center;
}

.nav-left {
    justify-self: start;
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-left-a {
    flex-shrink: 0;
    width: min-content;
}

.nav-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.nav-right {
    justify-self: end;
    display: flex;
    align-items: center;
}

.footer-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    align-items: center;
    padding: 20px 0;
}

.footer-left {
    justify-self: start;
}

.footer-center {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.img-logo-footer {
    width: 25%;
    height: auto;
}

.login-button-nav {
    margin-right: 1.5%;
    margin-top: 2%;
    margin-left: 5%;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.gap-1 {
    gap: 1%;
}

.gap-3 {
    gap: 3%;
}

.gap-5 {
    gap: 5%;
}

.padding-left-1 {
    padding-left: 1%;
}

.padding-left-3 {
    padding-left: 3%;
}

.padding-left-5 {
    padding-left: 5%;
}

.padding-left-15 {
    padding-left: 15%;
}

.padding-left-25 {
    padding-left: 25%;
}

.padding-right-1 {
    padding-right: 1%;
}

.padding-right-3 {
    padding-right: 3%;
}

.padding-right-5 {
    padding-right: 5%;
}

.padding-right-25 {
    padding-right: 25%;
}

.padding-top-1 {
    padding-top: 1%;
}

.padding-top-3 {
    padding-top: 3%;
}

.padding-top-5 {
    padding-top: 5%;
}

.padding-bottom-1 {
    padding-bottom: 1%;
}

.padding-bottom-3 {
    padding-bottom: 3%;
}

.padding-bottom-5 {
    padding-bottom: 5%;
}

.padding-1 {
    padding: 1%;
}

.padding-3 {
    padding: 3%;
}

.padding-5 {
    padding: 5%;
}

.button-landing {
    padding: 1% 3%;
    font-size: 1.2rem;
    min-width: 75px;
}

.d-feature-text {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto 1fr;
    gap: 3% 5%;
    padding: 8% 20%;
    align-items: start;
}


.d-feature-text-img {
    grid-row: 1 / 3;  /* Bild über beide Reihen */
    grid-column: 1;
    width: 80%;
    max-width: 250px;
    justify-self: center;
    align-self: center;
}

.d-feature-text-r-img {
    grid-row: 1 / 3;  /* Bild über beide Reihen */
    grid-column: 2;
    width: 80%;
    max-width: 250px;
    justify-self: center;
    align-self: center;
}

.align-stretch {
    align-items: stretch;
}

.info-box {
    border-radius: 7px;
}