.margin-bottom-5 {
    margin-bottom: 5% ;
}

.margin-bottom-3 {
    margin-bottom: 3%;
}

.margin-bottom-1 {
    margin-bottom: 1% ;
}

.margin-left-1 {
    margin-left: 1%;
}

.margin-left-3 {
    margin-left: 3%;
}

.margin-left-5 {
    margin-left: 5%;
}

.margin-top-1 {
    margin-top: 1%;
}

.margin-top-3 {
    margin-top: 3%;
}

.margin-top-5 {
    margin-top: 5%;
}

.margin-right-1 {
    margin-right: 1%;
}

.margin-right-3 {
    margin-right: 3%;
}

.margin-right-5 {
    margin-right: 5%;
}

.login-button-nav {
    margin-right: 1.5%;
    margin-top: 2%;
    margin-left: 5%;
}


.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Gap-Klassen für flex */
.gap-1 {
    gap: 1%;
}

.gap-3 {
    gap: 3%;
}

.gap-5 {
    gap: 5%;
}

/* Padding Left */
.padding-left-1 { padding-left: 1%; }
.padding-left-3 { padding-left: 3%; }
.padding-left-5 { padding-left: 5%; }

/* Padding Right */
.padding-right-1 { padding-right: 1%; }
.padding-right-3 { padding-right: 3%; }
.padding-right-5 { padding-right: 5%; }

/* Padding Top */
.padding-top-1 { padding-top: 1%; }
.padding-top-3 { padding-top: 3%; }
.padding-top-5 { padding-top: 5%; }

/* Padding Bottom */
.padding-bottom-1 { padding-bottom: 1%; }
.padding-bottom-3 { padding-bottom: 3%; }
.padding-bottom-5 { padding-bottom: 5%; }

/* Padding all sides*/
.padding-1 { padding: 1%; }
.padding-3 { padding: 3%; }
.padding-5 { padding: 5%; }


