:root {
    --primary-font: 'Rubik';
    --secondary-font: 'Exo2';
    --primary-color: #FFFFFF;
    --secondary-color: #DCD3D3;
    --secondary-backgrpund-color: #28282E;
    --primary-background-color: #202025;
    --primary-button-color: #E2001A;
    --secondary-button-color: rgba(255, 255, 255, 0.1);
}


* {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--primary-font), Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
}

header {
    position: sticky;
    top: 0;
    background-color: var(--secondary-backgrpund-color);
}

.font-secondary {
    color: var(--secondary-color);
}

.font-write {
    font-family: var(--secondary-font), Arial, sans-serif;
}

.style-bold {
    font-weight: 700;
}

.style-italic {
    font-style: italic;
}

.style-oblique {
    font-style: oblique;
}

.style-underline {
    text-decoration-line: underline;
}

.style-line-through {
    text-decoration-line: line-through;
}

.style-hide-link {
    text-decoration: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.render-uppercase {
    text-transform: uppercase;
}

.render-lowercase {
    text-transform: lowercase;
}

.render-capitalize {
    text-transform: capitalize;
}

button {
    background-color: var(--primary-button-color);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-weight: 400;
    color: var(--primary-color);
    cursor: pointer;
}

button:hover {
    opacity: 0.75;
}

.button-secondary {
    background-color: var(--secondary-button-color);
    color: var(--primary-color);
}

a:link {
    color: var(--primary-button-color);
}

a:link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

a:visited {
    color: var(--primary-button-color);
}

a:visited:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.background {
    background-color: var(--secondary-background-color);
}