:root {
    --primary-font: 'Rubik';
    --secondary-font: 'Exo2';
    --primary-color: #FFFFFF;
    --secondary-color: #DCD3D3;
    --primary-background-color: #202025;
    --secondary-background-color: #28282E;
    --navbar-background-color: rgba(50, 40, 46, 0.85);
    --primary-button-color: #E2001A;
    --secondary-button-color: rgba(255, 255, 255, 0.1);
    --input-background-color: var(--secondary-background-color);
    --input-border-color: rgba(255,255,255,0.1);
    --input-focus-border-color: var(--primary-button-color);
    --input-focus-shadow-color: rgba(226,0,26,0.5);
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font), Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
}

.font-secondary {
    color: var(--secondary-color);
}

.font-size-landing {
    font-size: 4rem;
}

.font-size-landing-small {
    font-size: 1.5rem;
}

.font-write {
    font-family: var(--secondary-font), Arial, sans-serif;
}

.style-bold {
    font-weight: 700;
}

.style-italic {
    font-style: italic;
}

.style-oblique {
    font-style: oblique;
}

.style-underline {
    text-decoration-line: underline;
}

.style-line-through {
    text-decoration-line: line-through;
}

.style-hide-link {
    text-decoration: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.render-uppercase {
    text-transform: uppercase;
}

.render-lowercase {
    text-transform: lowercase;
}

.render-capitalize {
    text-transform: capitalize;
}

button {
    position: relative;
    background-color: var(--primary-button-color);
    color: var(--primary-color);
    text-decoration: none;
    border: none;
    border-radius: 7px;
    padding: 10px 20px;
    cursor: pointer;
    overflow: hidden;
    transition: all 0.2s;
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.2s;
}

button:hover::after {
    background-color: rgba(0,0,0,0.1);
}

.button-secondary {
    background-color: var(--secondary-button-color);
    color: var(--primary-color);
}

input,
select {
    position: relative;
    background-color: var(--input-background-color);
    color: var(--primary-color);
    text-decoration: none;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px 0;
    width: auto;
    min-width: 250px;
    transition: all 0.2s ease-in-out;
}

input:focus,
select:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 5px var(--input-focus-shadow-color);
    background-color: rgba(40, 40, 46, 0.7);
}

input:hover,
select:hover {
    border-color: rgba(226,0,26,0.5);
}

select {
    cursor: pointer;
}

a:link {
    color: var(--primary-button-color);
    text-decoration: none;
}

a:link:hover {
    color: var(--primary-color);
    cursor: pointer;
}

a:visited {
    color: var(--primary-button-color);
}

a:visited:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.background {
    background-color: var(--secondary-background-color);
}