:root {
    --primary-font: 'Rubik';
    --secondary-font: 'Exo2';
    --primary-color: #FFFFFF;
    --secondary-color: #DCD3D3;
    --error-color: #B50015;
    --primary-background-color: #202025;
    --secondary-background-color: #28282E;
    --navbar-background-color: rgba(50, 40, 46, 0.85);
    --primary-button-color: rgba(226,0,26,1);
    --secondary-button-color: rgba(255, 255, 255, 0.1);
    --input-background-color: rgba(32,32,37,0.2);
    --input-border-color: rgba(255,255,255,0.1);
    --input-focus-background-color: rgba(32, 32, 37,0.5);
    --input-focus-border-color: rgba(226,0,26,1);
    --input-focus-shadow-color: rgba(226,0,26,0.3);
    --input-hover-border-color: rgba(226,0,26,0.5);
    --input-hover-shadow-color: rgba(226,0,26,0.1);
    --popup-background-color: rgba(32,32,37,0.9);
    --link-shadow-color: rgba(255,255,255,1);
    --chat-background-color: rgba(40, 40, 46, 0.9);
    --chat-input-color: rgba(32, 32, 37,0.9);
    --chat-message-sent-background-color: #E2001A;
    --chat-message-recived-background-color: #8B1016;
    --chat-message-sent-text-color: #FFFFFF;
    --chat-message-recived-text-color: #FFFFFF;
    --chat-message-timestamp-text-color: #cccccc;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: var(--primary-font), Arial, sans-serif;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    color: var(--primary-color);
    background-color: var(--primary-background-color);
}

button {
    display: inline-block;
    position: relative;
    width: auto;
    max-width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    text-align: center;
    white-space: nowrap;
    background-color: var(--primary-button-color);
    color: var(--primary-color);
    border: none;
    border-radius: 7px;
    text-decoration: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.3s;
}

button::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    pointer-events: none;
    transition: all 0.3s;
}

button:hover::after {
    background-color: rgba(0,0,0,0.1);
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(0,0,0,0.3);
}

button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.button-secondary {
    background-color: var(--secondary-button-color);
    color: var(--primary-color);
}

input,
select,
textarea {
    position: relative;
    background-color: var(--input-background-color);
    color: var(--primary-color);
    text-decoration: none;
    border: 2px solid var(--input-border-color);
    border-radius: 5px;
    padding: 8px 15px;
    margin: 5px 0;
    width: 100%;
    max-width: 250px;
    min-width: 0;
    box-sizing: border-box;
    transition: all 0.3s ease-in-out;
    cursor: text;
}

input:hover,
select:hover,
textarea:hover {
    border-color: var(--input-hover-border-color);
    box-shadow: 0 4px 10px var(--input-hover-shadow-color);
    transform: translateY(-2px);
}

input:focus,
select:focus,
textarea:focus {
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 10px var(--input-focus-shadow-color);
    background-color: var(--input-focus-background-color);
    outline: none;
    transform: translateY(-2px);
}

input::after,
select::after,
textarea::after {
    content: "";
    position: absolute;
    inset: 0;
    background-color: rgba(0,0,0,0);
    border-radius: 5px;
    pointer-events: none;
    transition: background-color 0.3s ease;
}

input:hover::after,
select:hover::after,
textarea:hover::after {
    background-color: rgba(0,0,0,0.05);
}

input:active,
select:active,
textarea:active {
    transform: translateY(1px);
    box-shadow: 0 2px 5px var(--input-focus-shadow-color);
}

textarea {
    resize: none;
    overflow-y: auto;
    line-height: 1.5;
}

a:link {
    color: var(--primary-button-color);
    text-decoration: none;
    transition: color 0.3s ease, text-shadow 0.3s ease;
}

a:link:hover {
    color: var(--primary-color);
    text-shadow: 0 1px 4px var(--link-shadow-color);
    cursor: pointer;
}

a:visited {
    color: var(--primary-button-color);
}

a:visited:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.font-secondary {
    color: var(--secondary-color) !important;
}

.font-error {
    color: var(--error-color) !important;
}

.font-size-landing {
    font-size: 4rem;
}

.font-size-landing-small {
    font-size: 1.5rem;
}

.font-write {
    font-family: var(--secondary-font), Arial, sans-serif;
}

.style-bold {
    font-weight: 700;
}

nav-logout {
    font-style: italic;
}

.style-oblique {
    font-style: oblique;
}

.style-underline {
    text-decoration-line: underline;
}

.style-line-through {
    text-decoration-line: line-through;
}

.style-hide-link {
    text-decoration: none;
}

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

.align-justify {
    text-align: justify;
}

.render-uppercase {
    text-transform: uppercase;
}

.render-lowercase {
    text-transform: lowercase;
}

.render-capitalize {
    text-transform: capitalize;
}

.input-small {
    width: 100%;
    max-width: 120px;
    text-align: center;
    text-transform: uppercase;
}

.select-small {
    width: 100%;
    max-width: 120px;
}

.background {
    background-color: var(--secondary-background-color);
}